/* ========================================
   Social Buttons (Discord, Ko-Fi)
   ======================================== */
.discord-button {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  line-height: 36px !important;
  min-width: 130px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  background-color: #5865f2;
  padding: 2px 12px !important;
  text-align: center !important;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family:
    'Quicksand',
    Helvetica,
    Century Gothic,
    sans-serif !important;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700 !important;
  font-size: 14px !important;
  height: 36px;
}

.discord-button:hover {
  opacity: 0.85;
  color: #fff !important;
  text-decoration: none !important;
}

.discord-icon {
  display: initial;
  vertical-align: middle;
  height: 14px !important;
  width: 18px !important;
  padding: 0 !important;
  margin: 0 8px 0 0 !important;
  border: none;
}

.discord-text {
  color: #fff !important;
  letter-spacing: -0.15px !important;
  text-wrap: nowrap !important;
  vertical-align: middle !important;
  line-height: 33px !important;
  padding: 0 !important;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}

.kofi-button {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  line-height: 36px !important;
  min-width: 150px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  background-color: #72a4f2;
  padding: 2px 12px !important;
  text-align: center !important;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family:
    'Quicksand',
    Helvetica,
    Century Gothic,
    sans-serif !important;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700 !important;
  font-size: 14px !important;
  height: 36px;
}

.kofi-button:hover {
  opacity: 0.85;
  color: #fff !important;
  text-decoration: none !important;
}

.kofiimg {
  display: initial;
  vertical-align: middle;
  height: 13px !important;
  width: 20px !important;
  padding: 0 !important;
  margin: 0 5px 0 0 !important;
  border: none;
}

.kofitext {
  color: #fff !important;
  letter-spacing: -0.15px !important;
  text-wrap: nowrap !important;
  vertical-align: middle !important;
  line-height: 33px !important;
  padding: 0 !important;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}
